:root {
  --main-radius: 5px;
  --main-padding: 5px;
}

body {
  font-family: "Poppins", sans-serif;
}

.containerjor {
  background: #FFFFFF;
  display: grid;
  height: 150vh;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 0.15fr 0.1fr 1fr 1fr 1fr;
  grid-template-areas:
    "nav nav nav nav"
    "subtitle subtitle subtitle subtitle"
    "sidebar content1 content1  content1"
    "sidebar content1 content1  content1"
    "sidebar content1 content1  content1";
  grid-gap: 0.5rem;
  font-weight: 800;
  font-size: 12px;
  color: black;
  text-align: center;
}

nav {
  background: #000000;
  color: #FF3333;
  grid-area: nav;
  font-size: 16px;
  text-transform: uppercase;
  border-radius: var(--main-radius);
  padding-top: var(--main-padding);
}
#img1 {
  height: 150px;
  width: 110px;
}

#subtitle {
  background: #ff3333;
  grid-area: subtitle;
  font-size: 8px;
  text-transform: uppercase;
  border-radius: var(--main-radius);
  padding-top: var(--main-padding);
}

table {
  caption-side: bottom;
  border-collapse: collapse;
  grid-area: table;
}

#sidebar {
  background: #ff3333;
  grid-area: sidebar;
  border-radius: var(--main-radius);
  padding-top: var(--main-padding);
}

.button_sidebar {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 10px;
  color: #000000;
  text-align: center;
  cursor: pointer;
  width: 65%;
  background-color: #000000;
  font-family: "Poppins", sans-serif;
}

#content1 {
  caption-side: bottom;
  border-collapse: collapse;
  background: #ffffff;
  grid-area: content1;
   font-size: 28px;
  border-radius: var(--main-radius);
  padding-top: var(--main-padding);
}

.button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: #64ffda;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 95%;
  font-family: "Poppins", sans-serif;
}

@media only screen and (max-width: 550px) {
  .containerjor {
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr 0.5fr 0.6fr 1.5fr;
    grid-template-areas:
      "nav"
      "subtitle"
      "sidebar"
      "content1";
  }
}



